@import url("https://fonts.googleapis.com/css?family=$font_family");

html, .widget-EventList li > div {
    transform: rotateX($rotate_x) rotateY($rotate_y);
}

.widget-EventList {
    font-weight: 400;
    font-size: $font_size;
    font-family: "$font_family";
    overflow: hidden;
    color: $text_color;
    list-style: none;
    text-transform: uppercase;
    position: relative;
    background: $background;
    margin: 0;
    padding: 10px;
}

.widget-EventList li {
    line-height: 1.3em;
    overflow: hidden;
    margin-bottom: 15;
    -moz-animation: $show_animation $animation_speed forwards;
    -webkit-animation: $show_animation $animation_speed forwards;
            animation: $show_animation $animation_speed forwards;
}

.widget-EventList li > div {
    height: 1.3em;
    overflow: hidden;
    position: relative;
    z-index: 10;
    text-align: right;
    float: right;
    white-space: nowrap;
    border-radius: 15px;
}

.widget-EventList .tag {
    float: right;
    background: $theme_color;
    padding-left: 15px;
    padding-right: 15px;
}

.widget-EventList .message {
    float: right;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #2A2B2E;
    padding-left: 15px;
    padding-right: 15px;
}

.widget-EventList li > div:last-child {
    animation: grow $animation_speed forwards;
    -webkit-animation: grow $animation_speed forwards;
    -moz-animation: grow $animation_speed forwards;
}

.widget-EventList li:first-child > div:last-child {
    -moz-animation: growB $animation_speed forwards;
    -webkit-animation: growA $animation_speed forwards;
            animation: growA $animation_speed forwards;
}

.widget-EventList li > div:last-child {
    -moz-animation: growB $animation_speed forwards;
    -webkit-animation: growB $animation_speed forwards;
            animation: growB $animation_speed forwards;
}

@-webkit-keyframes growA {
    0% {
        opacity: 0;
        font-size: 0;
        height: 0;
        line-height: 0;
        margin-bottom: 0;
        padding: 0;
    }

    100% {
        opacity: 1;
        font-size: 1em;
        height: 1.6em;
        line-height: 1.6em;
        margin-bottom: 4px;
        padding: 0 10px;
    }
}


@keyframes growA {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes growB {
    0% {
        opacity: 1;
    }
}

@keyframes growB {
    0% {
        opacity: 1;
    }
}

.widget-EventList li:nth-child(n+$max_events) {
    -moz-animation: $hide_animation $animation_speed forwards;
    -webkit-animation: $hide_animation $animation_speed forwards;
            animation: $hide_animation $animation_speed forwards;
}

